@import "../common/styles";

#container {
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

#zero {
    grid-row: 5;
}

#return {
    grid-row: 4 / span 2;
}

@media (orientation: portrait) {
    .landscape {
        display: none;
    }

    #container {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    #zero {
        grid-column: 1 / span 2;
    }

    #return {
        grid-column: 4;
    }
}

@media (orientation: landscape) {
    #container {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    #zero {
        grid-column: 4 / span 2;
    }

    #return {
        grid-column: 7;
    }
}
