@import "../common/styles";

@media (orientation: portrait) {
    #container {
        grid-template-rows: 1fr 4fr 4fr 1fr;
    }
}

@media (orientation: landscape) {
    #container {
        grid-template-rows: 1fr 4fr;
        grid-template-columns: 1fr 1fr;
    }

    #last, #first {
        grid-row: 1;
    }

    #next, #prev {
        grid-row: 2;
    }
}
