body {
    margin: 0;
}

#pad {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: gray;
}

#pad.down {
    background-color: lightgray;
}

#pad.offline, #pad.offline.down {
    background-color: red;
}
