@import "../common/styles";

body {
    margin: 0;
}

#pad {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: $button;
}

#pad.down {
    background-color: $button-down;
}

#pad.offline, #pad.offline.down {
    background-color: $offline;
}
