@import "../common/styles";

#button {
    width: 100%;
    height: 100%;
    background-color: $button;
}

#button.down {
    background-color: $button-down;
}

#button.offline, #button.offline.down {
    background-color: $offline;
}
